<html>
  <body style="padding-right: 70px;
	       padding-left: 70px; ">
    <center>
      <h1> Hipster Ipsum Example </h1>
      <p>
      Cliche franzen seitan jean shorts, four dollar toast heirloom plaid. Flexitarian everyday carry 90's skateboard mumblecore. Green juice brooklyn heirloom microdosing. Squid roof party keffiyeh williamsburg cornhole brooklyn kinfolk, fashion axe dreamcatcher chicharrones fanny pack mlkshk four dollar toast pop-up slow-carb. Stumptown typewriter pickled vice sustainable kitsch, helvetica farm-to-table. Ennui occupy tacos slow-carb, master cleanse microdosing keytar mumblecore chambray knausgaard gastropub try-hard. Shoreditch four loko sriracha bespoke tacos, neutra umami pug man bun yuccie.
      </p>
      <p>
Kickstarter gluten-free chambray gochujang. Banh mi deep v pickled, drinking vinegar hella pour-over artisan migas affogato sriracha brunch butcher pork belly literally. Gentrify sartorial semiotics, viral lumbersexual ramps fap lo-fi slow-carb fanny pack. Distillery mixtape photo booth everyday carry, portland master cleanse heirloom cray beard vice. Aesthetic plaid put a bird on it chicharrones neutra, hoodie umami biodiesel seitan iPhone venmo 8-bit narwhal. Offal normcore organic seitan, bushwick tacos deep v plaid fingerstache brunch lo-fi street art single-origin coffee roof party. Waistcoat whatever chicharrones migas art party wayfarers, williamsburg kinfolk affogato.
      </p>
      <p>
Knausgaard plaid sriracha, squid 3 wolf moon you probably haven't heard of them meditation organic echo park slow-carb tattooed tofu flannel retro. Mustache sriracha keffiyeh, swag selfies next level meh pork belly. Seitan bicycle rights 90's lo-fi. Craft beer tattooed tote bag chia, brooklyn DIY artisan slow-carb selfies church-key readymade hashtag mustache blog. 8-bit tacos aesthetic vice narwhal. Authentic migas vinyl, whatever microdosing banjo literally cardigan kombucha mixtape next level ramps. Viral +1 gastropub tofu roof party.
      </p>
    </center>
  </body>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <!--script>
    var paragraphs = document.getElementsByTagName("p");
    for (var i = 0; i < paragraphs.length; i++) {
			var paragraph = paragraphs.item(i);
			paragraph.style.setProperty("color", "red", null);
			}
  </script> -->
  <script src="d3ex.js"></script>
</html>
